# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Binaries
*.uf2
*.elf
*.bin
*.dis
*.map
*.hex

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts
cmake_install.cmake
Makefile
Testing
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Build artifacts
build/
elf2uf2/
pioasm/
generated/
/pico-sdk/

# VSCode
.vscode/

# Include tools
!/tools/*
